{% extends 'base.html' %}

{% block title %}Delete Poll{% endblock %}

{% block menu %}
    <li><a href="{% url 'poll_view' poll.pk %}">View</a></li>
{% endblock %}

{% block content %}
    <h1 class="text-center">Are you sure you want to delete - {{ poll }}?</h1>
    <form method="POST"  class="text-center" action="{% url 'poll_delete' poll.pk %}">
        {% csrf_token %}
        <p><input type="submit" class="btn btn-secondary" value="Yes"></p>
        <p><a href="{% url 'poll_view' poll.pk %}" class="no btn btn-primary">No</a></p>
    </form>
{% endblock %}