{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'poll_create' %}">Add Poll</a></li>
{% endblock %}

{% block content %}
    <section>
        <h1>Polls:</h1>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        <hr/>
        {% for poll in polls %}
            <h2>{{ poll.question }}</h2>
            <p>Created at {{ poll.created_at|date:'d.m.Y H:i:s' }}</p>
            <p>
                <a href="{% url 'poll_view' poll.pk %}">More...</a>
                <a href="{% url 'poll_update' poll.pk %}">Edit</a>
                <a href="{% url "poll_delete" poll.pk %}">Delete</a>
            </p>
            <hr/>
        {% endfor %}
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
    </section>
{% endblock %}
