{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block menu %}
    <li><a href="{% url "poll_update" poll.pk %}">Edit</a></li>
    <li><a href="{% url "poll_delete" poll.pk %}">Delete</a></li>
    <li><a href="#add_choise">Add choise</a></li>
{% endblock %}

{% block content %}
    <h1>{{ poll.question }}</h1>
    <hr/>
    <h3>Choises:</h3>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="-list">
        {% for choise in poll.choises.all %}
            <div class="choise float-right">
                <div class="pre"><p>{{ choise.text }}</p></div>
                <p class="choise-links">
                    <a href="{% url 'choise_update' choise.pk %}">Edit</a>
                    <a href="{% url 'choise_delete' choise.pk %}">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No choises yet.</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <p>
    <a href="{% url 'poll_choise_create' poll.pk %}" class="create">Create</a>
{% endblock %}
    </p>